<div class="container">
    <h2 id="menu-categories-title" class="text-center">Sign Up</h2>

    <div class="col-sm-4"></div>
    <fieldset class="col-sm-4">
        <form name='regForm' novalidate>

            <input class="form-control" type="text" name="firstname" placeholder="First Name" ng-model="signupCtrl.user.firstname" required minlength="2" ng-maxlength="15">
            <span ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
            First name must be at least 2 characters long
          </span>
            <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
            First name must not be longer than 15 characters
          </span>
            <br>

            <input class="form-control" type="text" name="lastname" placeholder="Last Name" ng-model="signupCtrl.user.lastname" required minlength="2" ng-maxlength="30">
            <span ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
            Last name must be at least 2 characters long
          </span>
            <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
            Last name must not be longer than 30 characters
          </span>
            <br>

            <input class="form-control" type="email" name="email" placeholder="Email" ng-model="signupCtrl.user.email" required>
            <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
            <br>

            <input class="form-control" type="text" name="phone" placeholder="Phone ###-###-####" required ng-model="signupCtrl.user.phone" pattern="(\d{3})-(\d{3})-(\d{4})">
            <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
            <br>

            <input class="form-control" type="text" name="menu_number" placeholder="Menu Number" ng-model="signupCtrl.user.menu_number">
            <br>

            <button class="form-control" ng-disabled="regForm.$invalid" ng-click="signupCtrl.submit(signupCtrl.user.menu_number)">Submit</button>

            <div style="margin-top: 10px;">
                <span ng-if="signupCtrl.message" >{{signupCtrl.message}}</span>
            </div>
        </form>
    </fieldset>
</div>